venv/
zaw_avs_materials/lab03_fos/BSUV-Net-inference/
kolokwium.docx
Kups_Kajetan_4/dataset/
zaw_avs_materials
Kups_Kajetan_12/neg
Kups_Kajetan_12/pos
Kups_Kajetan_12/testImage1.png
Kups_Kajetan_12/testImage2.png
Kups_Kajetan_12/testImage3.png
Kups_Kajetan_12/testImage4.png